/* benchnine-regular - latin */
@font-face {
    font-family: 'BenchNine';
    font-style: normal;
    font-weight: 400;
    src: url('./resources/font/benchnine-v16-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./resources/font/benchnine-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./resources/font/benchnine-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./resources/font/benchnine-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./resources/font/benchnine-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./resources/font/benchnine-v16-latin-regular.svg#BenchNine') format('svg'); /* Legacy iOS */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: lightseagreen;
    margin-bottom: 100px;
    font-family: 'Amatic SC', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

/* Calculator */

.calculator {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.numbers-operators {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

/* Footer */

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 15px;
    font-size: 18px;
  }